In [ ]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import Ridge
col_a = pd.Series(np.ones(50))
col_b = pd.Series(np.ones(50))
col_b[:5] = 0
col_c = pd.Series(np.random.randint(20,30, size=50))
features = pd.concat([col_a,col_b,col_c], axis=1)

In [ ]:
from sklearn.feature_selection import VarianceThreshold
selector = VarianceThreshold(threshold=(0.1))
selector.fit_transform(features)

array([[21.],
       [28.],
       [26.],
       [21.],
       [26.],
       [28.],
       [26.],
       [24.],
       [26.],
       [20.],
       [26.],
       [20.],
       [21.],
       [21.],
       [22.],
       [26.],
       [28.],
       [20.],
       [24.],
       [28.],
       [28.],
       [21.],
       [20.],
       [24.],
       [20.],
       [29.],
       [23.],
       [27.],
       [22.],
       [21.],
       [22.],
       [24.],
       [27.],
       [22.],
       [24.],
       [27.],
       [24.],
       [29.],
       [23.],
       [20.],
       [29.],
       [22.],
       [22.],
       [21.],
       [20.],
       [27.],
       [27.],
       [22.],
       [20.],
       [26.]])

In [ ]:
df = pd.read_csv("/content/train.csv")
X = df[['LotArea','YearBuilt','GrLivArea','TotRmsAbvGrd','OverallQual','OverallCond','TotalBsmtSF']]
y = df['SalePrice']
print (df.head())

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
lr = LinearRegression()
rfe = RFE(estimator=lr, n_features_to_select=4, step=1)
rfe.fit(X, y)

RFE(estimator=LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
                               normalize=False),
    n_features_to_select=4, step=1, verbose=0)

In [ ]:
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import Ridge
ridge = Ridge().fit(X, y)
model = SelectFromModel(ridge, prefit=True, threshold='mean')
X_transformed = model.transform(X)
X[:5]

   LotArea  YearBuilt  GrLivArea  ...  OverallQual  OverallCond  TotalBsmtSF
0     8450       2003       1710  ...            7            5          856
1     9600       1976       1262  ...            6            8         1262
2    11250       2001       1786  ...            7            5          920
3     9550       1915       1717  ...            7            5          756
4    14260       2000       2198  ...            8            5         1145

[5 rows x 7 columns]